.body_backgorund {
    background-image: url("teaching_with_emojis_group.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Road Rage', cursive;
    font-size: 40px;
  }
  
  h1
  {
      color: red; 
      font-size: 60px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
      cursor: pointer;
  }

  button {
    background-color:blueviolet;

    color: pink;
    padding: 10px 42px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
  }

  input
  {
    margin-right: 20px;
  }
  